<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Instagram</title>
  <!-- <link rel="stylesheet" href="../static/home.css" /> -->
  <link href="{{ url_for('static', filename='home.css') }}" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin /> -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
  <script src="{{ url_for('static', filename='myjss.js') }}"></script>


</head>

<body>
  <div id="user-profile" data-profile="{{user_info.profile_pic_real}}"></div>

  <nav class="nav">
    <div class="sidebar">
      <a href="/" class="logo action">
        <!-- <img src="../static/logo_large.png" alt="Instsgram Logo" /> -->
        <strong class="is-sparta" style="font-family: 'Stylish', sans-serif; font-size: larger"> NUSAGRAM </strong>
      </a>
      <div class="nav_items">
        <a href="" class="nav_icons home action">
          <img src="../static/svg/home.svg" alt="Home" />
          <p class="nav_icons action text">Beranda</p>
        </a>
        <a href="" class="nav_icons inbox action">
          <img src="../static/svg/message.svg" alt="Inbox" />
          <p class="nav_icons action text">Pesan</p>
        </a>
        <a href="#add_post" class="nav_icons post action" style="border: none">
          <img src="../static/svg/make_post.svg" alt="post" />
          <p class="nav_icons action text">Buat Post</p>
        </a>
        <a href="#modal-post" class="nav_icons explore action">
          <img src="../static/svg/explore.svg" alt="explore" />
          <p class="nav_icons action text">Jelajahi</p>
        </a>
        <a href="" class="nav_icons heart action">
          <img src="../static/svg/heart.svg" alt="heart" />
          <p class="nav_icons action text">Notifikasi </p>
        </a>
        <a href="/user/{{ user_info.username }}" class="nav_icons profile action">
          <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="Profile Pic" />
          <p class="nav_icons action text">Profil</p>
        </a>

        <div class="nav_icons action lainnya">
          <img src="../static/svg/three_dots.svg" alt="heart" />
          <p class="nav_icons action text">Lainnya</p>

          <div class="actions">
            <a href="#" class="action">
              <img class="actionIcon saveAction" src="../static/svg/saved.svg" alt="saved" />
              <p class="action_title">Simpan</p>
            </a>
            <a href="#" class="action">
              <img class="actionIcon settingAction" src="../static/svg/setting.svg" alt="profile" />
              <p class="action_title">Pengaturan</p>
            </a>
            <a class="action" onclick="sign_out()">
              <img class="actionIcon switchAction" src="../static/svg/switch.svg" alt="profile" />
              <p class="action_title">Keluar</p>
            </a>

          </div>
        </div>

      </div>
    </div>
  </nav>
  <!-- Add New Post POPUP -->
  <div id="add_post" class="box">
    <a class="close" href="#">&times;</a>
    <div class="innerBox">
      <p class="title">Create new post</p>
      <div class="select_area">
        <div class="innerBox2">
          <img src="../static/svg/multimedia.svg" alt="multimedia" />
          <p class="innerText">Upload photos and videos here</p>

          <!-- <label class="select_file">
            <input type="file" id="image" accept="image/*" onchange="displaySelectedFile()" />
            Select from computer
          </label> -->

          <label class="select_file">
          <input type="file" id="fileInput" accept="image/*" onchange="displaySelectedFile()" />
          Select Here  
          </label>
          <br>

          <img id="selectedImage" style="display: none; max-width: 100%; margin-top: 10px;" />

          <textarea id="textarea-post" placeholder="Add a caption..."></textarea>
          <br>
          <button onclick="post()">Post</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MAIN CONTENT -->

  <div class="container">
    <div class="left-side">

      <!-- Status -->
      <div class="status" id="status">
        <!-- disi js -->
      </div>

      <!-- POST 1 -->
      <div class="post" id="post-box">
        <div class="post_user_detail">
          <div class="user_detail">
            <div class="profile_pic pending">
              <img src="../static/images/pic_10.jpg" alt="pic_10" />
            </div>
            <p class="status_username">professer_x</p>
          </div>
          <a href="#" class="menuIcon">
            <img src="../static/svg/three_dots.svg" alt="menu" />
          </a>
        </div>

        <div class="post_content">
          <img src="../static/images/pic_10.jpg" alt="post1" />
        </div>

        <div class="post_description">
          <!-- POST INTERACTIONS -->
          <div class="post_interactions">
            <div class="interactions">
              <div class="interaction_icons likeIcon">
                <img src="../static/svg/heart.svg" alt="Like" />
              </div>
              <div class="interaction_icons commentIcon">
                <img src="../static/svg/comment.svg" alt="Comment" />
              </div>
              <div class="interaction_icons shareIcon">
                <img src="../static/svg/share.svg" alt="Share" />
              </div>
            </div>
            <div class="interaction_icons saveIcon">
              <img src="../static/svg/saved.svg" alt="save" />
            </div>
          </div>
        </div>

        <!-- POST DESCRIPTION -->
        <div class="description">
          <p class="likes">12,223 likes</p>
          <div class="des">
            <p class="status_username">professer_x</p>
            <p class="desText">
              Be thankful for what you have. What’s your thought?
            </p>
          </div>
          <a href="#" class="view_all_comments">View all 27 comments</a>
          <div class="time">2 DAYS AGO</div>
        </div>
      </div>
    </div>

    <!-- RIGHT SIDE -->
    <div class="right-side" id="right-side">
      <div class="myDetails">
        <div class="profile_details">
          <div class="profile_pic">
            <img src="{{ url_for('static', filename=user_info.profile_pic_real) }}" alt="profile_pic" />
          </div>
          <div class="more_details">
            <p class="username">{{user_info.username}}</p>
            <p class="name">{{user_info.profile_name}}</p>
          </div>
        </div>
        <div class="switch_link">
          <a href="#">Switch</a>
        </div>
      </div>

      <!-- Suggestions -->
      <div class="suggestion_part">
        <p class="suggestion_text">Suggestions For You</p>
        <a href="#" class="see_all">See All</a>
      </div>

      <div class="other_people" id="other_people">
        <div class="profile_details">
          <div class="profile_pic_suggested">
            <img src="../static/images/pic_2.jpg" alt="pic_2" />
          </div>
          <div class="more_details">
            <p class="username">skullcrusher</p>
            <p class="name">Follows You</p>
          </div>
        </div>
        <div class="switch_link">
          <a href="#">Follow</a>
        </div>
      </div>


    </div>
  </div>
  </div>

  <script>
    $(document).ready(function () {
      get_posts()
      get_profile()
    });
  </script>
</body>

</html>